body {
  display: flex;
  justify-content: center;
}

.calculatorBody {
  margin-top: 100px;
  display: flex;
  width: 400px;
  height: 500px;
  border: black solid 2px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(173, 182, 200);
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: 5px 10px 8px #888888;
}

#title {
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.buttons {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.coloredButtons {
  background-color: #cf9222;
}

.coloredButtons:hover {
  background-color: #ebc989;
}

button {
  background-color: #525151;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  color:rgb(243, 240, 240);
  font-size: 20px;
}

button:hover {
  background-color: #a1a0a0;
  transform: scale(.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#zero {
  grid-column: 1 / 3;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
  background-color: rgb(243, 240, 240);
  border: black 2px solid;
  font: 30px bolder;
}

